/* setup */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Strip default margin/padding/font-weight */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

/* Strip ul default styling */
ul {
	list-style: none;
}

/* Strip anchor tag default styling */
a {
	text-decoration: none;
	color: inherit;
}

/* Strip button default styling (and add pointer cursor) */
button {
	border: none;
	background: none;
	cursor: pointer;
}

/* ensure images fit inside container */
img {
	width: 100%;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

address {
	font-style: normal;
}

/* set root font size to 10px for simple rem conversion */
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
/* back to 16px at default client font-size */
body {
	font-size: 1.6rem;
}

/* wrapper styles */
.wrapper {
	max-width: 1600px;
	width: 85%;
	margin: 0 auto;
}


/* global styles */

h1 {
	font-family: 'Barlow', sans-serif;
	/* font-size: 6.88rem; */
	font-size: calc(3.4rem + 3.4vw);
	/* line-height: 6.37rem; */
	line-height: calc(3.2rem + 3.2vw);
	/* letter-spacing: 0.08rem; */
	letter-spacing: calc(0.04rem + 0.04vw);
}

h2 {
	font-family: 'Offside', cursive;
	/* font-size: 4.2rem; */
	font-size: calc(2.1rem + 2.1vw);
}

h3 {
	font-family: 'Offside', cursive;
	/* font-size: 2.6rem; */
	font-size: calc(1.3rem + 1.3vw);
}

.logo {
	font-family: 'Offside', cursive;
	/* font-size: 2rem; */
	font-size: calc(1rem + 1vw);
	/* line-height: 2rem; */
	line-height: calc(1rem + 1vw);
}

header nav a {
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	/* font-size: 2rem; */
	font-size: calc(1rem + 1vw);
	/* line-height: 2.9rem; */
	line-height: calc(1.5rem + 1.4vw);
}

header nav a:hover,
header nav a:focus {
	color: #9cd1b7;
}


p {
	font-family: 'Barlow', sans-serif;
	/* font-size: 2rem; */
	font-size: calc(1rem + 1vw);
	/* line-height: 3rem; */
	line-height: calc(1.5rem + 1.5vw);
	/* letter-spacing: 0.02rem; */
	letter-spacing: calc(0.01rem + 0.01vw);
}

button,
.button {
	font-family: 'Offside', cursive;
	/* font-size: 2rem; */
	font-size: calc(1rem + 1vw);
	text-align: center;
	/* line-height: 2.9rem; */
	line-height: calc(1.5rem + 1.4vw);

	display: inline-block;
	/* padding: 1rem 2rem; */
	padding: calc(0.5rem + 0.5vw) calc(1rem + 1vw);
	margin-top: 3rem;
	margin-top: calc(1.5rem + 1.5vw);
}

input[type="email"] {
	font-family: 'Barlow', sans-serif;
	/* font-size: 2rem; */
	font-size: calc(1rem + 1vw);
}

footer nav a {
	font-family: 'Offside', cursive;
	/* font-size: 2.4rem; */
	font-size: calc(1.2rem + 1.2vw);
}


/* header */

header {
	color: #FFFFFF;

	background-image: url(./assets/header-image.png);
	background-position: 10% 30%;
	background-size: cover;

	height: 100vh;
}

/* hide hamburger */
header input,
header label {
	display: none;
}

.logo {
	display: inline-block;
	/* width: 12rem; */
	width: calc(6rem + 6vw);
	/* margin: 2rem; */
	margin: calc(1rem + 1vw);
	margin-left: 0;
}

.navbar {
	float: right;
}

.navbar li {
	float: left;
}

/* add shadow to text for readability over image */
h1,
.navbar a,
.social-icons a {
	text-shadow: 2px 2px 1px #213C28;
}

.navbar a {
	display: inline-block;
	/* padding: 2rem; */
	padding: calc(1rem + 1vw);
}

/* remove right padding from last link */
.navbar li:last-of-type a {
	padding-right: 0;
}

h1 {
	/* width: 55rem; */
	width: calc(22.5rem + 22.5vw);

	/* margin-top: 10rem; */
	margin-top: calc(1rem + 1vw);
}


.social-icons {
	position: absolute;
	/* right: 30px; */
	right: calc(1.5rem + 1.5vw);
	/* top: 100px; */
	top: calc(6rem + 6vw);
}

.social-icons a {
	display: inline-block;
	/* padding: 0.3rem; */
	padding: calc(0.15rem + 0.15vw);
}


/* main */


/* new-friends section */
.new-friends {
	background-color: #D6F1E4;

	/* padding: 8rem 0; */
	padding: calc(2rem + 5vw) 0;
}

.new-friends h2 {
	color: #116500;
}

.new-friends .main-header {
	text-align: center;
}

.new-friends p {
	color: #2C2D2C;
}

.new-friends .button {
	color: #FFFFFF;
	background-color: #116500;
}


.new-friends .images {
	/* margin-top: 8rem; */
	margin-top: calc(2rem + 3vw);
}

.new-friends .images img {
	float: left;
	/* margin: 2rem 0; */
	/* margin: calc(1rem + 1vw) 0; */
	width: calc((100% / 3) - (4rem / 3));
}

/* add side margins to middle image */
.new-friends .images img:nth-of-type(2) {
	/* margin: 0 2rem; */
	margin: calc();
}


.new-friends .content {
	padding-top: 8rem;

	clear: both;
}

.new-friends .content img {
	float: left;
	width: 25%;
}

.new-friends .content .text {
	float: right;
	width: 70%;
}

/* .new-friends .button {
	display: inline-block;
	margin-top: 3rem;
} */


/* featured section */
.featured {
	color: white;
	background-color: #213C28;

	/* position: relative; */
}

.featured .button {
	color: #213C28;
	background-color: #FFFFFF;
}



.featured .text,
.featured .image {
	width: 50%;
}

.featured .text {
	padding: 8rem;
}

.featured img {
	width: 50vw;
	max-width: 50vw;
	display: block;
}

.top-row .image {
	float: right;
}

.bottom-row .image {
	float: left;
	position: relative;
	direction: rtl;
}

.bottom-row .text {
	float: right;
}



/* lower nav */

.lower-nav {
	background-color: #D6F1E4;

	/* height: 20rem; */
}

.lower-nav i {
	color: #2C2D2C;

	font-size: 4rem;

	display: block;
}

.lower-nav a {
	font-family: 'Offside', cursive;
	font-weight: normal;
	
	color: #116500;

	font-size: 2rem;
}

.lower-nav li {
	text-align: center;
	
	float: left;
	width: calc(100% / 3);
	padding: 8rem 0;
}



/* footer */

/* contact */
.contact {
	color: white;
	background-color: #213C28;

	padding: 8rem 0;
}


.subscribe {
	float: left;
	width: 50%;
}

.subscribe input {
	color: #2C2D2C;
	
	float: left;
	height: 5rem;
	width: 70%;

	padding-left: 3rem;
}

.subscribe input::placeholder {
	opacity: 80%;
}

.subscribe button {
	color: #FFFFFF;
	background-color: #2C2D2C;

	margin: 0;
	height: 5rem;
	width: 30%;
}

.contact-info {
	float: right;
	width: 42%;
}

.contact-info div {
	float: left;
	/* width: 50%; */
}

.contact-info nav {
	float: right;
}

.contact-info nav {
	text-align: right;
}

.contact-info a {
	display: inline-block;
	padding: 0.5rem 0;
}

/* copyright */
.copyright {
	color: white;
	background-color: #2C2D2C;

	text-align: center;

	padding: 0.5rem 0;
}